body {
    font-size: var(--tamanho-texto);
    font-family: var(--fonte-texto);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branca);
    padding: var(--espacamento);
    text-align: center;

}

.introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

a {
    color: var(--cor-texto-branca);
    text-decoration: none;
    font-style: italic;

}

a.navigation {
    color: var(--cor-texto-preta);
    font-style: inherit;
}

article h1 {
    text-align: center;
}

section a {
    color: blue;
}

section.sobremim {
    padding-top: 10px;
}

section h2,
h3,
h4 {
    padding-top: 5px;
}

nav {
    background-color: var(--cor-secundaria);
    padding: var(--espacamento);
}

/*Barrinha do link*/
.nav ol li a::after {
    content: " ";
    height: 2px;
    width: 0%;
    background-color: #fff;
    margin: 1.5rem;
    left: 0;
    position: absolute;
    transition: .5s;
}

.nav a:hover::after {
    width: 85%;
}

/*Termino Barrinha do link*/
.nav ol li {
    margin-bottom: 6px;
}

.nav a {
    padding: 3px;
}

.nav {

    top: 15px;
    position: sticky;
}

nav ol {
    color: white;
    padding-left: var(--espacamento);
}

nav ul {
    list-style: disc;
    padding-left: 15px;
}

article {
    padding: var(--espacamento);
    background-color: var(--cor-terciaria);
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branca);
    text-align: center;
}

footer p {
    padding: 5px;
}

footer a {
    color: var(--cor-texto-branca);
}

h1 {
    font-size: var(--tamanho-titulo);
    font-family: var(--fonte-titulo);
    text-decoration: underline;

}

h4 {
    text-decoration: underline;
    margin-top: 10px;
}

.titulotexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto-branca);
    background: #14213D url(/imagem/desenvolvimento.png);
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center;
    border-radius: 15px;
}

.imagem {
    height: auto;
    width: 30%;
    margin: 15px;
    max-width: 150px;
    align-items: center;
}

.imagemInicial {
    width: auto;
    height: 50%;
    margin: auto;
    display: block;
    padding-bottom: 5px;
    max-width: 250px;
}


.imagem_geral img {
    transition: transform 900ms;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 25px;

}

.imagem_geral:hover img {
    transform: scale(1.25);
}

.aumenta {
    font-size: 15px;
    display: inline-block;
    transition: transform 0.3s;
}

.aumenta:hover {
    transform: scale(0.9);
    color: aqua;
}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;

}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

p,
ul,
li {
    padding-top: 5px;
}

ul {
    list-style: disc;
    padding-left: 30px;
}

article ol {
    padding: var(--espacamento);
}

img {
    border-radius: 15px;
}

.instagram,
.github,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.instagram img,
.github img,
.email img {
    height: 25px;
    width: 30px;
    padding-left: 5px;
}
.home{
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
    @media screen and (max-width:767px) {
        position: fixed;
        width: 90%;
        bottom: 20px;

    }
}
.topo img{
    width: 50px;
}