:root{
    font-size: 77%;

    --espacamento:2rem;

    /* Fontes */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-texto: 'Ubuntu', sans-serif;

    /* Tamanho */
    --tamanho-titulo: 3.0rem;
    --tamanho-texto: 1.2rem;

    /* Cores */
    --cor-primaria: #14213D;
    --cor-secundaria: #38A3A5;
    --cor-terciaria: #ffff;
    --cor-texto-branca: #ffff;
    --cor-texto-preta: #000000;
}